@media(max-width:25em) {
   
    html{
        width: fit-content;
    }
    .result-summary {
        margin: 0;
        /* justify-content: center; */
        /* align-items: center; */
        width: fit-content;
        gap: 0;
        height: fit-content;

    }

    .result-box {
        flex-direction: column;
        height: 100%;
        width: fit-content;
    }

    .attribution {
        display: none;
    }

    .summary {
        height: fit-content;
        padding-bottom: 0;
    }
}