@media(max-width:30em){
    .result-summary{
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100vw;

    }
    .result-box{
        flex-direction: column;
        height: 100%;
        width: fit-content;
    }
    .attribution {
        display: none;
    }
}